* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#logo img {
    height: 50px;
    vertical-align: middle;
}

.header-main {
    background-color: lightgrey;
    text-align: center;
    height: 80px;
    line-height: 80px;
}

.header-main nav ul li {
    display: inline-block;
}